POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
APP_DB_NAME=urlshortener
KEY_DB_NAME=keydb
REDIS_ADDR=localhost:6379
KGS_ADDR=localhost:50051
HTTP_PORT=:8080
GRPC_PORT=:50051
JWT_SECRET=
BASE_URL=http://localhost
